@import "https://code.highcharts.com/css/themes/dark-unica.css";

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

html {
  background-color: #2a2a2b;
}

.container {
  min-height: 100vh;
  background-color: #2a2a2b;
}

.highcharts-container {
  margin-top: 2rem;
}

.highcharts-axis-labels {
  font-size: 14px;
  font-family: "Unica One", Arial, Helvetica, sans-serif;
}

.highcharts-axis {
  font-size: 16px;
}

.highcharts-title {
  font-size: 26px;
  font-weight: bold;
}

.highcharts-subtitle > a {
  text-decoration: underline;
}

.highcharts-subtitle > a:visited {
  fill: #e0e0e3;
}
